<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Barter</title>
    <h2>An App for trading and exchanging goods and services. </h2>

    
</head>
<body>
    
</body>
</html>